/*.grid{*/

/*-fx-background-color: #1482d5;*/
/*}*/

.label{


    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-color-label-visible: true;
    -fx-font-color: white;
}


.grid {
    -fx-background-color: grey;
    /*-fx-background-image: url("background.jpg");*/
}

